@media(max-width: 2200px){
.rldm-p-logo {margin-right: 80px;margin-left: -130px;}
.rldm-p-logo a.small-log{max-width: 225px;}

}



@media(max-width: 1920px){
.rldm-p-logo {margin-left: -80px;margin-right: 70px;}
.rldm-p-logo a.small-log{max-width: 210px;}
.boundless-banner:after{    background: linear-gradient(180deg, rgb(43 21 108 / 0%) 0%, rgb(43 21 108 / 81%) 29%, rgb(43 21 108) 54%, rgb(37 20 90) 76%, rgb(36 18 94) 100%);}



}

@media(max-width: 1680px){
.rldm-image img {max-width: 700px;margin-left: -25px;}
.boundless-banner:after {background: linear-gradient(180deg, rgb(43 21 108 / 0%) 0%, #030614f0 29%, #030614f7 54%, #15093c 76%, rgb(33 17 86) 100%);}
.boundless-banner-about:after {position: absolute;content: "";max-width: 100%;height: 185px;bottom: -89px;z-index: 9999;left: 0;right: 0;background: linear-gradient(180deg, rgb(2 10 51 / 0%) 0%, rgb(3 9 21 / 99%) 29%, rgb(4 11 24) 54%, rgb(3 11 24) 76%, rgb(4 11 23) 100%);}
.what-we-middle{margin: 0 125px;}
.financ-journey {background-size: 100%;background-position: bottom 245px center;}
.what-we-middle ul li{font-size: 25px;}
.partnering-box:hover .pop-up-box > img {opacity: 1;width: 352px;padding: 15px;left: -121px;height: 456px;}
.what-we-middle ul .ppcr span{font-size: 22px;}
.neon-charachter-in.neon-charachter-in-1 {left: -180px;top: -116px;}
.neon-charachter-in.neon-charachter-in-2 {right: -180px;}
.title-concert-future p {max-width: 75%;}
.concert-banner:before,.claim-nft-banner:before{bottom: 730px;}
.neon-charachter-in.neon-charachter-in-1{max-width: 450px;top: -60px;}
.rldm-p-logo {margin-top: 20px;margin-left: -50px;}
.rldm-p-logo a.small-log {max-width: 165px;}



}

@media(max-width: 1440px){
.rldm-image img {max-width: 660px;margin-left: 0;margin-top: 55px;}
.boundless-banner:after {background: linear-gradient(180deg, rgb(43 21 108 / 0%) 0%, #030614f0 29%, #030614f7 54%, #0306147a 76%, rgb(33 17 87) 100%);}
.boundless-banner-about:after {position: absolute;content: "";max-width: 100%;height: 185px;bottom: -89px;z-index: 9999;left: 0;right: 0;background: linear-gradient(180deg, rgb(2 10 51 / 0%) 0%, rgb(3 9 21 / 99%) 29%, rgb(4 11 24) 54%, rgb(3 11 24) 76%, rgb(3 10 24) 100%);}
.what-we-middle ul li {font-size: 20px;padding: 12px 0;}
.what-we-middle > img {max-width: 230px;}
.creator-s-w {padding-top: 100px;}
.arrow-po-c {top: 93px;width: 40px;right: -30px;}
.arrow-po-f {top: 93px;width: 40px;left: -30px;}
.what-we-middle {margin: 0 70px;padding: 40px;}
.creator-s-w img {max-width: 300px;}
.financ-journey  {background-size: 115%;}
.partnering-box h2 {font-size: 30px;}
.partnering-box:hover h2{font-size: 36px;}
.partnering-box:hover .pop-up-box video{left: 0;}
.box-social{right: 9%;}
.partnering-box:hover .pop-up-box .box-social{right: 0;z-index: 5555555;}
.partnering-box:hover .pop-up-box > img {opacity: 1;width: 352px;padding: 15px;left: 0;height: 456px;}
.partnering-box:hover .pop-up-box .wbl{left: 0;}
.what-we-middle ul .ppcr span{font-size: 18px;}
.partnering-creator-image {margin-left: -90px;position: relative;right: -49px;}
.partnering-box:hover .pop-up-box .box-social.box-social-last {right: 343px;}
.concert-banner{background-size: 130%;}
.gallery-banner{background-size: 180%;}
.neon-charachter-in.neon-charachter-in-1 {left: -70px;top: -134px;}
.neon-charachter-in.neon-charachter-in-2 {right: -70px;}
.title-concert-future p {max-width: 82%;}
.neon-charachter-in.neon-charachter-in-2,.neon-charachter-in.neon-charachter-in-1{max-width: 470px;}
.concert-banner:before,.claim-nft-banner:before{bottom: 689px;}
.concert-future .order-2.col-md-12.order-md-2.order-lg-1.col-lg-6 {max-width: 45%;}
.concert-future .order-1.col-md-12.order-md-1.order-lg-2.col-lg-6 {max-width: 55%;}
.rldm-p-logo {margin-left: -9px;margin-right: -50px;}
.concert-future-left h2 {font-size: 40px;}
.concert-future-left h2 span:last-child {font-size: 22px;}
.btn-metaverse a.btn-boundless {margin-right: 40px;font-size: 18px;min-width: 190px;}
.btn-metaverse a.btn-boundless:after {min-width: 100%;}
.btn-metaverse a.btn-boundless:last-child {margin: 0;}

}



@media(max-width: 1280px){
.boundless-banner:after {    background: linear-gradient(180deg, rgb(43 21 108 / 0%) 0%, #030614f0 29%, #030614f7 54%, #0306147a 76%, rgb(35 18 90) 100%);}
.rldm-p-logo{margin-right: -8px;}
.rldm-p-logo a.small-log{max-width: 145px;}



}

@media(max-width: 1199px){
.boundless-banner:after {bottom: -10px;height: 140px;background: linear-gradient(180deg, rgb(43 21 108 / 0%) 0%, #0306140d 29%, #030614 54%, #030614 76%, #180d42 100%);}
.concert-future-left h2 {font-size: 36px;}
.concert-future-left h2 span {font-size: 22px;}
.concert-future-left h3 {font-size: 36px;}
.concert-future-left {padding: 25px;}
.btn-metaverse a.btn-boundless {font-size: 17px;min-width: 170px;min-height: 50px;margin-right: 25px;}
.btn-metaverse a.btn-boundless:after {min-width: 170px;min-height: 50px;}
.rldm-image img {max-width: 480px;margin-top: 20px;margin-left: 22px;}
.boundless-banner-text img {max-width: 370px;}
.concert-future {background-size: cover;}
.follow-us-text h2 {max-width: 70%;}
footer .footer-left li {margin-right: 19px;}
footer .footer-left a.nav-link {font-size: 20px;}
.footer-right input[type="text"], .footer-right input[type="text"]:focus {min-width: 260px;}
.footer-left ul {margin-top: 70px;}
.watch-video {background-position: top 255px center;}
.boundless-banner-about:after {background: linear-gradient(180deg, rgb(2 10 51 / 0%) 0%, rgb(3 7 19) 29%, rgb(3 7 19) 54%, rgb(3 8 20) 100%);}
.culture-commerce-text h1 span {font-size: 44px;}
.culture-commerce-text h1 {font-size: 45px;}
.partnering-box h2 {font-size: 25px;}
.partnering-box:hover h2 {font-size: 30px;}
.partnering-box:hover .pop-up-box video {width: 250px;height: 250px;min-height: 310px;}
.box-social h4 {font-size: 50px;}
.what-we-middle {min-width: 360px;max-height: 490px;margin: 0 45px;}
.what-we-middle ul li {font-size: 17px;}
.what-we-middle ul li img {max-width: 30px;height: 30px;}
.what-we-middle > img {max-width: 160px;}
.what-we-do h3 {font-size: 20px;}
.creator-s-w img {max-width: 240px;}
.arrow-po-c {width: 28px;top: 96px;right: -14px;}
.arrow-po-f {width: 28px;top: 96px;left: -14px;}
.navbar-nav li.nav-item {padding: 30px 12px;}
.fav-celeb-text h2 {font-size: 44px;}
.watch-video {background-size: cover;background-position: center;}
.module-gallery .slider-preview {padding-left: 20px;}
.slick-vertical .slick-slide video {min-width: 100%;min-height: 390px;}
.module-gallery .slider-wrapper {max-height: 431px;}
.module-gallery .slider-thumb{padding-left: 0;}
.box-c-p p {font-size: 18px;}
.box-c-p-t h3 {font-size: 18px;line-height: 25px;max-width: 100%;}
.box-c-p-t {min-width: 220px;justify-content: left;}
.box-c-p-t img {margin-right: 15px;}
.toolkits-s-box > span {min-width: 100px;min-height: 100px;max-height: 100px;line-height: 100px;}
.toolkits-s-box > span img {max-width: 50px;}
.toolkits-s-box h4 {font-size: 19px;}
.toolkits-s {background-size: 120%;}
.box-social{right: 6%;}
.partnering-box:hover .pop-up-box .box-social {right: 0;}
.partnering-box:hover .pop-up-box > img {width: 278px;height: auto;left: -14px;}
.partnering-box:hover .pop-up-box .wbl{width: 250px;height: 250px;min-height: 310px;}
.footer-bottom span a {display: block;}
.footer-bottom span {text-align: left;}
.footer-bottom span a {font-size: 15px;}
.footer-bottom span {font-size: 15px;}
footer .foot-menu a.nav-link {font-size: 18px;}
.footer-bottom ul li.list-inline-item {margin: 0 2px !important;}
.sec-vid a {max-width: 48%;}
.flip-container, .flip-container .front, .flip-container .back{min-height: 330px;}
.slider-img-celebs img{min-width: 100%;min-height: 390px;max-width: 100%;}
.module-gallery .slider-wrapper li {padding: 10px 0;}
.utility-text {margin: 0;}
.partnering-box:hover .pop-up-box .box-social.box-social-last {right: 253px;}
.partnering-box:hover .pop-up-box .box-social,.partnering-box .pop-up-box .box-social{max-width: 250px;}
.box-social li.list-inline-item a{min-width: 216px;}
.box-social li.list-inline-item a {font-size: 16px;height: initial;max-height: 50px;}
.box-social li.list-inline-item a img {max-width: 23px;}
.box-social li.list-inline-item a:after,.box-social li.list-inline-item a:hover:after {width: 15px;height: 15px;background-size: 100%;}
.neon-charachter-in.neon-charachter-in-1 {max-width: 290px;top: -108px;}
.neon-charachter-in.neon-charachter-in-2 {max-width: 290px;}
.claim-nft-banner:before {background: url(../images/reward-bg-back.png) no-repeat top -130px center;min-height: 758px;background-size: cover;bottom: 325px;}
.concert-banner:before {background: url(../images/reward-bg-back.png) no-repeat top -130px center;min-height: 758px;background-size: cover;bottom: 325px;}
.concert-banner-text h1,.claim-nft-banner-text h1{font-size: 56px;}
.neon-charachter-in.neon-charachter-in h2 {font-size: 18px;}
.neon-charachter-in.neon-charachter-in h2.clr-3 {font-size: 20px;line-height: 28px;}
.neon-charachter-in-3-right {max-width: 40%;}
.concert-future-left h2 span:last-child {font-size: 20px;max-width: 100%;}
.rldm-p-logo {margin-right: -31px;}
.rldm-p-logo a.small-log {max-width: 126px;}

}

@media(max-width: 1024px){

}

@media(max-width: 991px){
.navbar, .navbar-brand {padding: 5px 0;}
.navbar-toggler,.navbar-toggler:focus {background-color: transparent;outline: none;font-size: 15px;border-radius: 0;padding: 0;}
.button-right {text-align: center;margin-bottom: 30px;display: inline-block;width: 100%;margin-top: 15px;}
.navbar-nav li.nav-item {padding: 20px 15px;}
.navbar-light .navbar-nav .nav-link{font-size: 16px;}
.navbar-inner-bx{flex-direction: column;padding-bottom: 50px;}
header{position: absolute;background-color: #03061499;border-bottom: 2px solid #090f2e;backdrop-filter: blur(25px);}

.navbar-light .navbar-toggler{border-color: #3f61fe;border-radius: 7px;padding: 5px;width: 35px;height: 35px;padding: 5px 3px 5px 6.5px;text-align: center;}
.navbar-light .navbar-toggler-icon {background: #ffffff;}
.toggle {display: block;width: 25px;height: 23px;}
.toggle span {position: relative;display: block;}
.toggle span:after, .toggle span:before {content: "";position: absolute;left: 0;right: 0;margin: 0 auto;}
.toggle span:before {top: -7px;}
.toggle span:after {top: 7px;}
.toggle span,.toggle span:after,.toggle span:before {width: 20px;height: 1px;background-color: #4fe0fe;transition: all 0.3s;backface-visibility: hidden;}
.toggle.on span {background-color: transparent;}
.toggle.on span:before {transform: rotate(45deg) translate(5px, 5px);left: 0;top: -7px;}
.toggle.on span:after {transform: rotate(-45deg) translate(3px, -4px);left: 0;top: 5px;}
.toggle.on span:before,.toggle.on span:after {width: 20px;}

.header-right {flex-direction: column;justify-content: center;margin: 0 auto;}
a.create-btn {margin-top: 35px;}
.nav-social-links ul {padding: 0;}
.navbar-nav{padding-left: 0;}

.boundless-banner-text img {max-width: 300px;margin-top: -160px;}
.title-all h2 {font-size: 44px;}
.title-all span {font-size: 15px;}
.title-all span:after {/* top: 9px; *//* right: -88px; */}
.title-all.title-center span:before {/* top: 9px; *//* left: -90px; */}
.title-all p {font-size: 20px;margin: 0 0 40px;}
.watch-video-slider .owl-item .item a h3 {font-size: 16px;line-height: 22px;}
a.btn-boundless {font-size: 16px;min-width: 190px;min-height: auto;}
a.btn-boundless:after {min-width: 190px;}
.nft-rewardss-left p {font-size: 18px;}
.rldm-image {text-align: center;}
.rldm-image img {margin: 0 0 25px;}
.concert-future-left h2 span {margin-bottom: 40px;}
.btn-metaverse a.btn-boundless {margin-bottom: 12px;}
.concert-future-left {margin-top: -50px;}
.concert-future {background-position: top -122px center;}
.watch-video-slider .owl-item .item {margin: 20px 0;}
.nft-rewardss-left h2 {font-size: 35px;}
.nft-rewardss-left p {margin-bottom: 10px;}
.about-mb-token {padding: 0;}
.about-mb-token .title-all p {font-size: 20px;}
.about-mb-token .token-row {padding: 45px 20px;}
.comming-soon-image {max-width: 550px;margin: 0 auto;}
.comming-soon-text h2 {font-size: 44px;text-align: center;}
.comming-soon-text {padding: 50px 25px 0 55px;}
.comming-soon:before {display: none;}
.comming-soon-text p {font-size: 22px;margin: 0 auto;text-align: center;}
.comming-soon {padding: 100px 0 30px;}
.follow-us-text h2 {font-size: 40px;}
.about-mb-token-image {max-width: 290px;}
.about-mb-token .token-row {margin: 0 15px;}
.footer-top {flex-direction: column;justify-content: center;}
.footer-left {text-align: center;}
.footer-right {text-align: center;}
footer p {text-align: left;display: inline-block;margin: 0;font-size: 15px;}
.footer-bottom {text-align: left;padding: 25px 0;display: flex;align-items: center;justify-content: space-between;margin: 0;}
footer li a {text-align: center;}
.footer-bottom ul {position: inherit;}
footer {padding: 100px 0 0;}
.footer-left ul {margin-top: 0;display: flex;flex-direction: column;align-items: center;padding: 25px 0;}
.boundless-banner:after {bottom: -50px;background: linear-gradient(180deg, rgb(2 10 51 / 0%) 0%, rgb(3 6 17) 29%, rgb(25 11 68) 54%, rgb(38 19 98) 100%);}
.boundless-banner.boundless-banner-about img {margin-top: -80px;}
.boundless-banner-about:after {background: linear-gradient(180deg, rgb(2 10 51 / 0%) 0%, rgb(3 7 19) 29%, rgb(3 7 19) 54%, rgb(3 8 20) 100%);}
.what-we-do p {margin: 0 auto;}
.what-we-do-text {flex-direction: column;}
.arrow-po-c {right: 10px;}
.creator-s-w {max-width: 410px;padding: 0;margin: 0 auto;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.what-we-middle {max-width: 410px;margin: 40px auto;}
.creator-s-w img {max-width: 100%;}
.creator-f-w img.arrow-po-f {order: inherit;position: initial;}
.partnering-box .pop-up-box {opacity: 1;position: unset;width: auto;transform: unset;display: flex;align-items: center;justify-content: space-around;flex-direction: column;}
.partnering-box .pop-up-box video,.partnering-box:hover .pop-up-box video {position: unset;opacity: 1;width: auto;transform: unset;max-width: 250px;min-height: auto;height: 295px;}
.partnering-box:hover .pop-up-box .wbl,.partnering-box .pop-up-box .wbl{position: unset;opacity: 1;width: auto;transform: unset;min-width: 250px;min-height: auto;height: 280px;object-fit: cover;}
.partnering-box .pop-up-box .box-social {position: unset;opacity: 1;width: auto;max-width: 250px;min-height: 250px;transform: unset;margin: 0;height: 295px;}
.partnering-box h2 {min-width: 100%;margin-bottom: 25px;}
.partnering-box {max-width: 100%;margin: 45px auto;}
.partnering-main-box{margin: 0;}
.arrow-po-f {transform: rotate(90deg);}
.arrow-po-c{transform: rotate(90deg);}
.concert-banner-text p{max-width: 90%;}
.concert-banner-solider h2{font-size: 24px;margin: 20px 0 0;}
.ticket-book {padding: 0 0 100px;}
a.btn-boundless.btn-card {min-height: 62px;}
.claim-nft-banner-text p{max-width: 85%;}
.flip {width: auto;min-width: 220px;}
.flip > .front, .flip > .back {height: auto;min-height: 310px;min-width: 100%;}
.fav-celeb-text p {font-size: 16px;line-height: 28px;}
.btn-celeb a.btn-boundless {margin: 0;}
.fav-celeb-text h2 {margin: 0 0 20px;}
.fav-celeb-image video {border-radius: 25px;}
footer .footer-left li{padding: 5px 0;}
.claim-nft-banner-solider h2 {font-size: 20px;}
.creator-s-w img.arrow-po-c {order: 3;position: initial;}
.creator-s-w h3 {order: 2;margin: 40px 0 25px;}
.creator-f-w h3 {order: inherit;margin: 25px 0 40px;}
.title-all.title-concert-future p {margin: 0 auto;max-width: 100%;}
.module-gallery .slider-thumb li {max-width: 345px;}
.utility-text p {font-size: 15px;line-height: 22px;margin: 0;}
.module-gallery .slider-thumb {min-width: 375px;margin: 20px 0 0;}
.module-gallery .slider-wrapper {max-height: 270px;}
li.type-image.slick-slide.slick-current.slick-active .utility-text p {font-size: 18px;}
li.type-image.slick-slide.slick-current.slick-active .utility-text {padding: 25px 20px;}
.utility-text {padding: 20px;border-radius: 10px;}
.slick-vertical .slick-slide video {max-width: 100%;min-height: 100%;max-height: 250px;}
.module-gallery .slider-wrapper {max-height: 300px;}
.fav-celeb-text a.moreless-button1, .fav-celeb-text a.moreless-button2, .fav-celeb-text a.moreless-button3 {font-size: 17px;margin: 0 0 35px;}
.partnering-creator-image {max-width: 500px;margin: 0 auto 15px;right: 0;}
.toolkits-s-box {margin: 25px 0;}
.toolkits-s-title h3 {margin-bottom: 0;}
.financ-journey {background-size: cover;background-position: right center;background: #0000000f url(../images/creator-bg.png) no-repeat center;}
 
.partnering-box .pop-up-box > img{opacity: 1;}
.partnering-box:hover .pop-up-box > img, .partnering-box .pop-up-box > img{max-width: 250px;min-width: 250px;height: 280px;min-height: 100%;border-radius: 15px;padding: 0;object-fit: contain;position: inherit;transform: unset;}
.bxx-partner {display: flex;width: 100%;justify-content: space-around;}

.tab-gallery-up .nav-link.active {padding: 15px 25px;font-size: 20px;}
.tab-gallery-up .nav-link {padding: 15px 25px;font-size: 16px;}
.tab-gallery-up li.nav-item {margin: 0 7px;}
.tab-gallery-up {margin: 25px 0 25px !important;}
.what-we-middle ul .ppcr span{font-size: 15px;}
.what-we-middle ul{margin: 25px 0 0;}
.flip-container, .flip-container .front, .flip-container .back{min-height: 260px;}
.header-reward{background: transparent;}
.slider-img-celebs img {max-width: 100%;min-height: 100%;max-height: 250px;}
.module-gallery .slider-wrapper .slider-thumb li {padding: 5px 0;}
.partner-home-title span img {/* max-width: 190px; *//* margin-top: -26px; */}
.partner-home {padding: 120px 0 0;}
.partnering-box .pop-up-box .box-social.box-social-last{display: none;}
.gallery-images-g a .btn-videos {width: 50px;height: auto;}
.box-social h4 {font-size: 38px;}
.box-social li.list-inline-item a {padding: 10px;font-size: 15px;}
.claim-nft-banner:before {min-height: 100%;background-size: 100%;background-position: top 1005px center;}
.concert-banner:before {min-height: 100%;background-size: 100%;background-position: top 695px center;}
.gallery-banner{background-size: 180%;}
.partnering-box:hover h2{padding: 45px 45px;}
.neon-charachter-in.neon-charachter-in h2 {font-size: 14px;}
.neon-charachter-in.neon-charachter-in h2.clr-3 {font-size: 14px;max-width: 300px;line-height: 22px;padding-left: 14px;padding-top: 0;}
.neon-charachter-in-3-right img {max-width: 158px;}
.neon-charachter-in.neon-charachter-in-3 {right: 0;}
.neon-charachter-in-3-right {max-width: 40%;}
.neon-charachter-in.neon-charachter-in h2.clr-1,.neon-charachter-in.neon-charachter-in h2.clr-2{margin-top: 20px;}
.neon-charachter-in.neon-charachter-in-1 {margin-top: 0;top: -22px;}
.partner-inner-logo a {width: 305px;}
.partner-inner-logo {flex-direction: column;}
.partner-inner-logo a img {width: 100%;}
.partner-inner-logo a:first-child {order: 3;}
.nftss-slider a.btn-boundless {min-height: 60px;line-height: 47px;}
.partner-inner-logo a:nth-child(3) {order: 2;}
.partner-inner-logo a:nth-child(2) {order: 1;}
.partner-inner-logo a:nth-child(4) {order: 4;}
.partner-inner-logo a.small-log {max-width: 270px;}
.concert-future .order-1.col-md-12.order-md-1.order-lg-2.col-lg-6 {max-width: 100%;}
.concert-future .order-2.col-md-12.order-md-2.order-lg-1.col-lg-6 {max-width: 100%;}
.rldm-p-logo {margin-right: 0;margin-top: 0;}
.concert-future-left {max-width: 100%;margin-top: 20px;}
.rldm-p-logo a.small-log {max-width: 165px;}
footer .foot-menu li{margin: 0 45px 0 0;}


}

@media(max-width: 767px){
.boundless-banner:after {bottom: -50px;background: linear-gradient(180deg, rgb(2 10 51 / 0%) 0%, rgb(3 6 17) 29%, rgb(14 9 42) 54%, rgb(39 19 99) 100%);}
.nft-rewardss-middle {flex-direction: column;justify-content: center;margin-top: -110px;}
.nft-rewardss-left {order: 1;text-align: center;}
.nft-rewardss-left p {margin: 0 auto 25px;max-width: 90%;}
.btn-meta.btn-meta-center-no-mg {text-align: center !important;}
.mb-token-image {text-align: center;}
.owl-carousel .owl-item .collct-image-1 {left: inherit;margin-left: 0;}
.nftss-slider .owl-dots {left: 0;right: 0;top: inherit;}
.about-mb-token .token-row:before {z-index: 1;}
.mb-token-tit {position: relative;z-index: 111;}
.follow-us-text:before {min-width: 100%;}
.follow-us-text:after {min-width: 100%;}
.rldm-image img {max-width: 560px;}
.boundless-banner-about:after {background: linear-gradient(180deg, rgb(2 10 51 / 0%) 0%, rgb(3 7 19) 29%, rgb(3 9 24) 54%, rgb(4 9 24) 100%);}
.concert-banner-solider {text-align: center;margin: 20px 0;}
.mt-minus-sold {margin-top: 0;}
.concert-banner-text p {font-size: 22px;line-height: 35px;margin-bottom: 30px;}
.claim-nft-banner-text h1 {font-size: 60px;}
.claim-nft-banner-text p {font-size: 22px;line-height: 35px;margin-bottom: 30px;max-width: 100%;}
.claim-nft-banner-solider {transform: scale(1) !important;margin: 10px 0;min-width: 36%;padding: 0 10px;min-height: 100%;}
.flip {min-width: 320px;}
.flip > .front, .flip > .back {min-height: 430px;border-radius: 20px;}
.nft-rewardss {padding: 0;}
.fav-celeb {padding: 130px 0 0;}
.fav-celeb-1 {padding: 0 0 100px;}
.fav-celeb-text {padding: 40px 45px 0;text-align: center;}
.fav-celeb-2 {padding: 0 0 100px;}
.fav-celeb-3 {padding: 0 0 120px;}
.watch-video{padding: 0 0 100px;}
.about-mb-token {padding: 100px 0 0;}
.comming-soon-text{text-align: center;}
.module-gallery .slider-thumb li {max-width: 100%;min-width: 100%;}
.module-gallery .slider-thumb {min-width: 100%;padding: 0;margin-top: 5px;}
.module-gallery .slider-wrapper{max-height: 760px;}
.module-gallery .slider-preview{padding-left: 0;}
.slick-slide img {margin: 0 auto;}
.utility-text{padding: 15px 15px;}
.slick-track {margin: 0 auto;}
.module-gallery .slider-wrapper {flex-direction: column-reverse;}
.slick-initialized .slick-slide{text-align: center;}
.slick-slide iframe {border-radius: 35px;padding: 10px;border: 2px solid #4cd6ff;}
.toolkits-s-box h4 {font-size: 18px;}
.toolkits-s-box h4 span {font-size: 15px;}
.toolkits-s .btn-meta {margin: 40px 0 0;}
.toolkits-s-title h3 {font-size: 24px;}
.tab-gallery-up .nav-link.active {padding: 10px 15px;font-size: 18px;}
.tab-gallery-up .nav-link {padding: 10px 15px;font-size: 14px;}
.concert-banner-text span,.concert-banner-text h1 {font-size: 44px;max-width: 80%;margin: 110px auto 15px;}.toolkits-s-box > span img {   max-width: 60px;}
.slick-slide video,.slider-img-celebs img {border-radius: 25px !important;min-width: 530px;min-height: 330px;padding: 10px;border: 2px solid #4cd6ff;object-fit: cover;}
footer .foot-menu .list-inline li {margin: 0 !important;padding: 20px 15px;}
.footer-bottom {flex-direction: column;justify-content: center;}
.footer-bottom span a {display: inline-block;}
footer p {order: 3;}
.footer-bottom ul {margin: 20px 0;}
.footer-bottom ul li.list-inline-item {margin: 0 5px !important;}
.btn-index-slider.btn-meta.btn-meta-center-no-mg {justify-content: center;}
.sec-vid {margin: 30px 0 0;}
.claim-nft-banner-solider h2 {font-size: 14px;}
.flip-container, .flip-container .front, .flip-container .back {min-height: 210px;border-radius: 20px;}
.partner-home-title span img {max-width: 150px;margin-top: -18px;}
.partner-home {padding: 100px 0 0;}
.title-all.title-center.partner-home-title h3 {font-size: 14px;margin: 0 0 20px;}
.partner-inner-logo a {padding: 0 10px;}
.gallery-images-g a .btn-videos {width: 45px;height: 45px;}
.claim-nft-banner:before {background-position: top 655px center;bottom: 0;}
.concert-banner:before {background-position: top 655px center;bottom: 0;}
.gallery-banner{background-size: 300%;}
.grid-gallery{grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));}
.concert-banner{background-size: 260%;}
.partnering-box h2 span{font-size: 16px;}
.fav-celeb-text h2 span {font-size: 20px;margin-bottom: 15px;}
.neon-charachter-in.neon-charachter-in-3 > img {max-width: 190px !important;}
.neon-charachter-in.neon-charachter-in-3 img {max-width: 142px;}
.neon-charachter-in.neon-charachter-in-3 {margin-top: 90px;}
.neon-charachter-in-3-right{max-width: 45%;}
.neon-charachter-in.neon-charachter-in-1 {left: 0;top: -10px;}
.neon-charachter-in.neon-charachter-in-2 {right: 0;}
.partner-home-title img {max-width: 250px;margin-bottom: 30px;}
.partner-inner-logo a img {width: 100%;max-width: 100%;}
.title-all.title-center.partner-home-title span:after {width: 50px;right: -65px;top: 7px;}
.title-all.title-center.partner-home-title span:before {width: 50px;left: -70px;top: 7px;}
.partner-home-title span {margin-bottom: 30px;}
.title-all.title-center .concert-titl{margin-top: 30px;}
.title-all.title-concert-future p {max-width: 100%;}
.rldm-p-logo a.small-log{max-width: 125px;}
.module-gallery {padding: 0 0 20px;}


}



@media(max-width: 575px){
.boundless-banner:after {background: linear-gradient(180deg, rgb(2 10 51 / 0%) 0%, rgb(3 6 17) 29%, rgb(29 13 76) 54%, rgb(38 19 97) 100%);}
.title-all h2 {font-size: 28px;margin-bottom: 15px;}
.title-all span {font-size: 12px;}
.concert-future {padding: 60px 0;background-position: top -105px center;}
.rldm-image img {max-width: 350px;margin-left: 0;}
.concert-future-left h2 {font-size: 27px;}
.concert-future-left h2 span {font-size: 17px !important;margin-bottom: 30px;}
.concert-future-left h2 span:last-child {margin-bottom: 30px;max-width: 100%;}
.concert-future-left h3 span {font-size: 14px;letter-spacing: 2px;line-height: 20px;margin-bottom: 7px;}
.concert-future-left h3 {font-size: 26px;margin-bottom: 15px;}
.concert-future-left {padding: 20px;}
.btn-metaverse a.btn-boundless {font-size: 14px;letter-spacing: 3px;min-width: 140px;min-height: 58px;margin-right: 0;height: 55px;line-height: 60px;margin: 15px 10px;}
.btn-metaverse a.btn-boundless:after {min-width: 100%;min-height: 100%;left: 6px;bottom: -8px;}
.btn-meta.btn-metaverse {display: flex;align-items: center;justify-content: center;}
.title-all p {font-size: 16px;margin: 0;line-height: 28px;}
.watch-video {background-position: center;background-size: cover;}
header {position: absolute;}
.boundless-banner-text img {max-width: 230px;margin-top: -180px;}
.nft-rewardss-left p {font-size: 16px;max-width: 100%;line-height: 28px;}
.nft-rewardss-left h2 {font-size: 28px;}
.about-mb-token .title-all p {font-size: 16px;color: #fff;margin: 10px 0;line-height: 25px;}
.about-mb-token .token-row {padding: 10px;}
.about-mb-token-image {max-width: 200px;margin: 0 auto;}
a.btn-boundless.btn-mbtoken {margin: 25px 0 30px;}
.comming-soon-text h2 {font-size: 28px;margin-bottom: 15px;}
.comming-soon-text p {font-size: 16px;line-height: 28px;max-width: 100%;}
.comming-soon-text {padding: 35px 10px 0;}
.follow-us-text h2 {font-size: 28px;max-width: 100%;}
.follow-us-text ul li a img {max-width: 42px;}
.footer-left img {max-width: 160px;}
footer .footer-left li {display: block;padding: 5px 0;margin: 0;line-height: inherit;}
footer .footer-left a.nav-link {font-size: 16px;line-height: inherit;}
.footer-right input[type="text"], .footer-right input[type="text"]:focus {min-width: 100%;}
.footer-right button, .footer-right button:focus {width: 100%;border: none;margin: 15px 0 0;font-size: 15px;}
.footer-bottom ul {order: 1;}
footer p {order: 3;margin: 0;}
.footer-bottom {flex-direction: column;margin: 0;}
.footer-right h4 {font-size: 15px;margin: 0;}
footer {padding: 60px 0 0;}
.follow-us {padding: 60px 0 120px;}
.follow-us-text ul {margin: 0;}
.btn-meta-center-no-mg a.btn-boundless {margin: 0;}
.owl-carousel .owl-item .collct-image-1 {max-width: 220px;}
.about-mb-token .title-all p {font-size: 16px;line-height: 28px;margin: 15px 0 0;max-width: 100%;text-align: center;}
a.btn-boundless.btn-mbtoken {margin: 25px 0 50px;}
.boundless-banner-about:after {background: linear-gradient(180deg, rgb(2 10 51 / 0%) 0%, rgb(3 7 19) 29%, rgb(3 7 20) 54%, rgb(3 10 23) 100%);}
.culture-commerce-text h1 span {font-size: 26px;line-height: 34px;}
.culture-commerce-text h1 {font-size: 29px;}
.culture-commerce-text p {font-size: 16px;line-height: 28px;max-width: 100%;}
.culture-commerce {padding: 60px 0;}
.sliding-text-1 li {max-width: 50%;}
.what-we-do {padding: 60px 0;}
.what-we-do p {max-width: 100%;}
.what-we-do h3 {font-size: 16px;}
.creator-s-w img {max-width: 290px;}
.what-we-middle {min-width: 340px;}
.creator-s-w img {right: 0;}
.partnering-box .pop-up-box {/* flex-direction: column; */}
.partnering-box .pop-up-box video, .partnering-box:hover .pop-up-box video {max-width: 100%;min-width: 100%;height: 300px;border-radius: 15px;}
.partnering-box:hover .pop-up-box > img, .partnering-box .pop-up-box > img{max-width: 45%;min-width: 45%;height: 230px;min-height: 100%;border-radius: 15px;padding: 0;object-fit: contain;}


.partnering-box .pop-up-box .box-social {max-width: 45%;min-width: 45%;height: auto;margin: 0;border-radius: 15px;height: 230px;min-height: inherit;display: flex;flex-direction: column;justify-content: center;}
.partnering-box h2 {font-size: 20px;}
.box-social h4 {font-size: 28px;}
.box-social p {font-size: 13px;}
.box-social li.list-inline-item,.box-social li.list-inline-item img {width: 32px;display: flex;margin: 5px 10px;justify-content: center;flex-direction: column;}
.partnering-box:hover h2,.partnering-box h2 {font-size: 18px;padding: 25px 35px;text-align: center;}
.partnering-box h2 {background: linear-gradient(90deg, #00E3FF 0%,#1F50FF 25%,#1D20FF 50%,#1C5DFF 75%,#00E3FF 100%);color: #fff;margin: 0 0 12px;border-radius: 10px;}
.partnering {padding: 0 0 30px;}
.partnering-main-box .partnering-box:first-child {margin-top: 0;}
.boundless-banner.boundless-banner-about img {margin-top: -41px;}
.creator-s-w{max-width: 100%;}
.concert-banner-text span { font-size: 28px; }
.concert-banner-text h1 {font-size: 28px;margin: 0 auto 15px;max-width: 100%;}
.concert-banner-text p {font-size: 16px;line-height: 28px;max-width: 100%;}
.concert-banner-solider h2 {font-size: 22px;}
.buynow-text {font-size: 16px;line-height: 25px;}
.concert-banner {padding: 170px 0 10px;}
.claim-nft-banner:before{min-height: 100%;background-size: cover;background-position: center;opacity: 0.1;}
.concert-banner:before{min-height: 100%;background-size: cover;background-position: center;opacity: 0.1;}
.claim-nft-banner-text h1 {font-size: 28px;margin-top: 80px;}
.claim-nft-banner-text p {font-size: 16px;line-height: 28px;}
.flip > .front, .flip > .back {min-height: 400px;}
.claim-nft-banner-solider h2 {font-size: 18px;}
.claim-nft-banner {padding: 90px 0 50px;}
.fav-celeb-text h2 {font-size: 28px;}
.fav-celeb-text {padding: 40px 0;}
.fav-celeb-1 {padding: 0 0 60px;}
.fav-celeb-text p {font-size: 16px;line-height: 28px;font-weight: 300;}
.fav-celeb-2 {padding: 0 0 50px;}
.fav-celeb-image video {min-height: 390px;}
.fav-celeb-3 {padding: 0 0 60px;}
.what-we-middle ul li {font-size: 16px;}
.sliding-text li {font-size: 15px;}
.box-social ul {display: flex;justify-content: center;flex-direction: initial;align-items: center;flex-wrap: wrap;}
.partnering-box {margin: 30px auto;}
.slider-video iframe {width: 100% !important;height: 300px !important;}
.module-gallery .slider-thumb .slick-track{width: 100% !important;}
.utility-text{margin: 5px 0;}
.title-all.title-concert-future p{max-width: 100%;}
.gallery-images-g a{padding: 5px;}
.gallery-banner {padding: 170px 0 60px;}
.gallery-images-g a {-ms-flex: 0 0 50%;flex: 0 0 100%;max-width: 100%;margin: 15px 0 0;}
.box-c-p {flex-direction: column;}
.box-c-p-t {min-width: auto;justify-content: center;min-height: 32px;border-radius: 10px;align-items: center;padding: 0 15px;}
.box-c-p p {text-align: center;padding: 10px 0 0;font-size: 16px;line-height: 28px;}
.box-c-p-t h3 {font-size: 13px;line-height: 15px;}
.box-c-p-t img {max-width: 21px;margin-right: 9px;}
.toolkits-s-box > span {min-width: 80px;min-height: 80px;max-height: 80px;line-height: 80px;border-radius: 20px;}
.toolkits-s-box > span img {max-width: 65px;}
.toolkits-s-box h4 {margin: 15px 0 0;font-size: 16px;}
.toolkits-s-box {margin: 20px 0;}
.partnering-creator-image {max-width: 250px;}
.toolkits-s {padding: 60px 0 80px;}
.toolkits-s a.btn-boundless {min-width: 250px;letter-spacing: 2px;}
.partnering-box:hover .pop-up-box .wbl, .partnering-box .pop-up-box .wbl{width: 100%;min-width: 100%;height: 300px;border-radius: 15px;}
.tab-gallery-up li.nav-item {width: 100%;margin: 5px 0;text-align: center;}
.tab-gallery-up {margin: 0px 0 20px !important;}
.what-we-middle ul .ppcr span {font-size: 14px;line-height: 0px;margin-top: 12px;}
.toolkits-s-title h3 {font-size: 18px;}
.title-all.toolkits-s-title {margin-bottom: 20px;}
.toolkits-s:before{background: url(../images/bg-tool-shd.png) no-repeat top 55px center;background-size: 100%;left: 0;right: 0;content: "";position: absolute;min-height: 750px;max-width: 350px;top: -300px;}
.financ-journey {padding: 0 0 30px;}
.title-all.title-center.financ-journey-title p {margin: 0 0 20px;}
.financ-journey a.btn-boundless {min-width: 280px;letter-spacing: 2px;}
.slick-slide video,.slider-img-celebs img {min-width: 100%;min-height: 100%;max-width: 100%;max-height: 250px;}
.btn-index-slider.btn-meta.btn-meta-center-no-mg a.btn-boundless {font-size: 14px;letter-spacing: 2px;min-width: 137px;margin: 0 15px !important;max-height: 60px;}
.btn-index-slider.btn-meta.btn-meta-center-no-mg {justify-content: center;}
.btn-index-slider.btn-meta.btn-meta-center-no-mg a.btn-boundless:after{min-width: 100%;}
footer .foot-menu .list-inline li {display: block;}
.footer-right {margin: 45px 0 0;}
footer .foot-menu .list-inline li {padding: 0;}
.foot-menu ul {margin: 30px 0;}
footer .foot-menu a.nav-link {font-size: 16px;}
.sec-vid {margin: 5px 0 0;}
.claim-nft-banner-solider-main {flex-direction: column;}
.claim-nft-banner-solider {width: 300px;}
.flip-container, .flip-container .front, .flip-container .back {min-height: 320px;}
.module-gallery .slider-wrapper .slider-thumb li{padding: 0;}
.module-gallery .slider-preview {margin-bottom: 0;}
.module-gallery{padding: 0 0 35px;}
.partner-inner-logo {flex-direction: column;}
.partner-inner-logo a {padding: 0;max-width: 100%;margin: 0;width: 100%;}
.partner-home-title span img {max-width: 120px;margin-top: -12px;}
.title-all.title-center.partner-home-title span:after {width: 72px;right: -91px;}
.title-all.title-center.partner-home-title span:before {width: 72px;left: -91px;}
.box-social li.list-inline-item a {/* text-indent: -9999px; *//* min-width: fit-content; *//* max-width: 100%; *//* width: 100%; */}
.box-social li.list-inline-item, .box-social li.list-inline-item img {min-width: 22px;min-height: inherit;}
.box-social li.list-inline-item a img {margin-right: 15px;width: 23px;min-height: auto;}
.partnering-box:hover .pop-up-box .box-social, .partnering-box .pop-up-box .box-social{max-width: 100%;min-width: 100%;min-height: 100%;height: auto;margin: 15px 0 0;}
.neon-charachter {flex-direction: column;justify-content: center;align-items: center;}
.neon-charachter-in.neon-charachter-in-1 {left: 0;max-width: 280px;top: 0;margin: 0;}
.neon-charachter-in.neon-charachter-in-2 {max-width: 280px;}
.neon-charachter-in.neon-charachter-in-3 {max-width: 270px;right: 0;order: 2;margin: 0;}
.neon-charachter-in.neon-charachter-in {margin: 25px 0;}
.grid-gallery {display: flex;flex-direction: column;}
.grid-gallery > div{padding: 0;}
.title-all.title-ticket-bk {margin-bottom: 0;}
.fav-celeb-text h2 span {font-size: 17px;margin-bottom: 8px;}
.neon-charachter-in.neon-charachter-in {right: 0;}
.neon-charachter-in.neon-charachter-in {flex-direction: column;}
.neon-charachter-in-3-right {max-width: 100%;text-align: center;}
.neon-charachter-in.neon-charachter-in h2.clr-3 {text-align: center;margin: 15px 0 0;line-height: 20px;}
.neon-charachter-in.neon-charachter-in-3 {margin: 60px auto;}
.neon-charachter-in.neon-charachter-in-3 img {max-width: 160px;}
.ticket-book {padding: 50px 0 100px;}
.partnering-box h2 span,.partnering-box:hover h2 span{color: #fff;font-size: 13px;}
.mb-token-tit {text-align: center;}
.mb-token-tit {text-align: center !IMPORTANT;}
.about-mb-token .title-all h2 {text-align: center;}
.title-all.mb-token-tit span:after {width: 25px;right: -30px;}
.bxx-partner {flex-direction: column;}
.box-social li.list-inline-item {min-width: 100%;}
.horizontal.gall-1 a img {min-height: 250px;}
.horizontal.gall-1 .btn-videos {min-height: auto;}
.vertical.gall-2 a img {min-height: 170px;height: 220px;width: 100%;}
.vertical.gall-2 .btn-videos {min-height: auto;width: 45px;height: 45px;}
.vertical.gall-2 a{max-width: 100%;width: 100%;}
.vertical.gall-2 {width: 100%;}
.mobile-image-g{display: block;}
.web-image-g{display: none;}
.gall-1.box-cel-imag a {margin-bottom: 5px;}
.partner-inner-logo a img {max-width: 100%;}
.title-all.title-center.partner-home-title span:after {width: 50px;right: -62px;}
.title-all.title-center.partner-home-title span:before {width: 50px;left: -70px;}
.title-all.title-center .concert-titl {background-size: 100%;margin-top: 0;padding: 35px;}
.title-all.title-center.partner-home-title h4 {margin: 0 0 24px;font-size: 15px;}
.partner-home-title span {margin: 15px 0;}
.title-all.title-center.partner-home-title h3 {margin: 20px 0 11px;}
.partner-inner-logo {margin: 15px 0 0;}
.partner-home {padding: 30px 0 0;}
.partner-inner-logo a.small-log {max-width: 90%;}
.rldm-p-logo a {max-width: 50%;}
.rldm-p-logo {flex-wrap: wrap;justify-content: space-around;padding-left: 8px;}
.rldm-p-logo a:nth-child(1) {order: 3;}
.rldm-p-logo a:nth-child(2) {order: 1;}
.rldm-p-logo a:nth-child(3) {order: 2;}
.rldm-p-logo a:nth-child(4) {order: 4;}
.rldm-p-logo a.small-log {max-width: 175px;}


}

@media(max-width: 456px){
.btn-meta.btn-metaverse {display: flex;flex-direction: row;align-items: center;justify-content: space-evenly;}


}

@media(max-width: 414px){
.title-all.title-center .concert-titl {padding: 0;}

}

@media(max-width: 395px){
	.rldm-p-logo a.small-log{max-width: 160px;}
}


