@media(max-width: 1920px){

}

@media(max-width: 1680px){
.rldm-image img {max-width: 900px;margin-left: -125px;}
.boundless-banner:after {bottom: -134px;z-index: 0;background: linear-gradient(180deg, rgb(2 10 51 / 0%) 0%, rgb(3 6 17) 29%, rgb(11 6 34) 54%, rgb(13 7 40) 76%, rgb(11 8 38) 100%);}
.boundless-banner-about:after {position: absolute;content: "";max-width: 100%;height: 185px;bottom: -89px;z-index: 9999;left: 0;right: 0;background: linear-gradient(180deg, rgb(2 10 51 / 0%) 0%, rgb(3 9 21 / 99%) 29%, rgb(4 11 24) 54%, rgb(3 11 24) 76%, rgb(4 11 23) 100%);}
.what-we-middle{margin: 0 125px;}

}

@media(max-width: 1440px){
.rldm-image img {max-width: 740px;margin-left: -85px;margin-top: 55px;}
.boundless-banner-about:after {position: absolute;content: "";max-width: 100%;height: 185px;bottom: -89px;z-index: 9999;left: 0;right: 0;background: linear-gradient(180deg, rgb(2 10 51 / 0%) 0%, rgb(3 9 21 / 99%) 29%, rgb(4 11 24) 54%, rgb(3 11 24) 76%, rgb(3 10 24) 100%);}
.what-we-middle ul li {font-size: 20px;padding: 12px 0;}
.what-we-middle > img {max-width: 230px;}
.creator-s-w {padding-top: 100px;}
.arrow-po-c {top: 93px;width: 40px;right: -30px;}
.arrow-po-f {top: 93px;width: 40px;left: -30px;}
.what-we-middle {margin: 0 70px;padding: 40px;}
.creator-s-w img {max-width: 300px;}


}

@media(max-width: 1280px){

}

@media(max-width: 1199px){

}

@media(max-width: 1024px){

}

@media(max-width: 991px){
.navbar, .navbar-brand {padding: 5px 0;}
.navbar-toggler,.navbar-toggler:focus {background-color: transparent;outline: none;font-size: 15px;border-radius: 0;padding: 0;}
.button-right {text-align: center;margin-bottom: 30px;display: inline-block;width: 100%;margin-top: 15px;}
.navbar-nav li.nav-item {padding: 20px 15px;}
.navbar-light .navbar-nav .nav-link{font-size: 16px;}
.navbar-inner-bx{flex-direction: column;padding-bottom: 50px;}
header{position: inherit;background-color: #000;}

}

@media(max-width: 767px){

}

@media(max-width: 575px){

}

@media(max-width: 414px){


}
